[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/data/data/com.termux/files/home/Desktop/pavucontrol-qt.desktop]
row=5
col=0

[/data/data/com.termux/files/home/Desktop/org.qt-project.qtcreator.desktop]
row=2
col=0

[/data/data/com.termux/files/home/Desktop/nvim.desktop]
row=4
col=0

[/data/data/com.termux/files/home/Desktop/qterminal.desktop]
row=1
col=0

[/data/data/com.termux/files/home/Desktop/lximage-qt.desktop]
row=3
col=0

[/data/data/com.termux/files/home/Desktop/xfce4-file-manager.desktop]
row=0
col=0

